@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gellix';
    src: url('./assets/Gellix-Regular.woff') format('woff'),
         url('./assets/Gellix-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:'Gellix';
}

.navbar {
    box-shadow: 0 3px 4px #0000000a;
    background: linear-gradient(to right, #bbf5cc, #f7f5f5);
}

/* Add this to your CSS file */

